*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
include

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

#Mac
*.DS_Store

# IPython Notebook Checkpoints
.ipynb_checkpoints

#Virtualenv
ENV
.env

# Tests products
.cache
data.png
map.html

# documentation builds
docs/_build
