*.egg-info/
*.pyc
.ipynb_checkpoints
.pytest_cache
build/
dist/
docs/_build/
docs/quickstart.ipynb
examples/results/*
.cache/
.idea/
/*.xml
/codestyles/*.xml
/_mac/*.xml
/inspection/*.xml
geckodriver.log
geckodriver.exe
geckodriver.tar.gz
geckodriver/
chromedriver.exe
chromedriver/
miniconda.sh
latest_logs/
*.nbconvert.ipynb
folium/_version.py
