exclude: examples/data/|.*\.css|.*\.json|.*\.geojson|.*\.html

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: trailing-whitespace
    - id: check-ast
    - id: debug-statements
    - id: end-of-file-fixer
    - id: check-docstring-first
      exclude: ^examples/streamlit
    - id: check-added-large-files
      args: ['--maxkb=1024']
    - id: requirements-txt-fixer
    - id: file-contents-sorter
      files: requirements-dev.txt

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.13.3
  hooks:
    - id: ruff

- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 25.9.0
  hooks:
  - id: black
    language_version: python3

- repo: https://github.com/keewis/blackdoc
  rev: v0.4.3
  hooks:
    - id: blackdoc

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
    - id: codespell
      args:
        - --ignore-words-list=thex,nd,fo,som,nam,tha,caf
      exclude: >
        (?x)^(
            .*\.csv |
            .*\.json |
        )$

# - repo: https://github.com/woodruffw/zizmor-pre-commit
#   rev: v1.11.0
#   hooks:
#     - id: zizmor

ci:
    autofix_commit_msg: |
        [pre-commit.ci] auto fixes from pre-commit.com hooks

        for more information, see https://pre-commit.ci
    autofix_prs: false
    autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
    autoupdate_schedule: monthly
    skip: []
    submodules: false
