altair
cartopy
check-manifest
descartes
flake8
flake8-builtins
flake8-comprehensions
flake8-import-order
flake8-mutable
flake8-nb>=0.2.5
geographiclib
geopandas
gpxpy
ipykernel
jupyter
matplotlib
nbconvert
nbsphinx
nbval
owslib
pandas
pillow
pycodestyle
pytest
pytest-cov
pytest-flake8
pytest-xdist
scipy
setuptools_scm
selenium
sphinx
twine>=3.2.0
wheel
vega_datasets
vincent