altair
cartopy
descartes
flake8
flake8-builtins
flake8-comprehensions
flake8-import-order
flake8-mutable
flake8-quotes
geographiclib
geopandas
gpxpy
ipykernel
jupyter_client
matplotlib
mplleaflet
nbconvert
nbsphinx
nbval
owslib
pandas
pillow
pycodestyle
pytest
scipy
selenium
sphinx
twine
vega_datasets
vincent
