altair>=5.0.0
cartopy
check-manifest
descartes
flake8
flake8-builtins
flake8-comprehensions
flake8-import-order
flake8-mutable
flake8-nb>=0.2.5
geographiclib
geopandas
gpxpy
ipykernel
jenkspy
jupyter
matplotlib
mypy
nbconvert
nbsphinx
nbval
owslib
pandas
pillow
pre-commit
pycodestyle
pytest
scipy
selenium
setuptools_scm
sphinx
twine>=3.2.0
types-requests
vega_datasets
vincent
wheel
xyzservices
