<!DOCTYPE html>
<head>
   <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
   <!--[if lte IE 8]>
       <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
   <![endif]-->

<style>

#map {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
}

</style>
</head>
<body>

        <div id="map" {{ size }}></div>

        <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
 
<script>

        var map = L.map('map').setView([{{ lat }}, {{ lon }}], {{ zoom_level }});

        L.tileLayer('{{ Tiles }}', {
            maxZoom: {{ max_zoom }},
            attribution: '{{ attr }}'
        }).addTo(map);

</script>

</body>
