name: Code Tests with Latest branca

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Micromamba env
      uses: mamba-org/setup-micromamba@v1
      with:
        environment-name: TEST
        create-args: >-
          python=3
          --file requirements.txt
          --file requirements-dev.txt

    - name: Install folium from source
      shell: bash -l {0}
      run: python -m pip install -e . --no-deps --force-reinstall

    - name: Tests with latest branca
      shell: bash -l {0}
      run: |
        micromamba remove branca --yes --force
        python -m pip install git+https://github.com/python-visualization/branca.git
        python -m pytest -vv --ignore=tests/selenium
