name: Code Tests

on:
  schedule:
    - cron: "0 13 * * *"
  pull_request:
  push:
    branches:
      - main

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.9", "3.13"]
      fail-fast: false
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v4

    - name: Setup Micromamba env
      uses: mamba-org/setup-micromamba@v2
      with:
        environment-name: TEST
        create-args: >-
          python=${{ matrix.python-version }}
          --file requirements.txt
          --file requirements-dev.txt

    - name: Install folium from source
      run: python -m pip install -e . --no-deps --force-reinstall

    - name: Install pixelmatch
      shell: bash -l {0}
      run: |
        pip install pixelmatch

    - name: Code tests
      run: python -m pytest -vv --ignore=tests/selenium --ignore=tests/playwright --ignore=tests/snapshots
